.header {
  padding: 2rem 4rem;
  display: flex;
  justify-content: end;
  overflow: hidden;

  &__menu {
    display: flex;
    align-items: center;
    // gap: 2rem;
    & > * + * {
      // margin-left: 2rem;
    }

    &__items {
      &:not(:last-child) {
        margin-right: 2rem;
      }
      > a {
        position: relative;
        display: block;

        &::before {
          content: '';
          position: absolute;
          width: 0%;
          height: 4px;
          left: 0;
          bottom: -5px;
          background: #000;
          transition: all 0.2s ease;
        }

        &:hover::before {
          width: 50%;
        }

        &::after {
          content: '';
          position: absolute;
          width: 0%;
          height: 4px;
          right: 0;
          bottom: -5px;
          background: #000;
          transition: all 0.2s 0.2s ease;
        }

        &:hover::after {
          width: 50%;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 2rem 1rem;

    &__menu {
      // gap: 1rem;

      &__items {
        &:not(:last-child) {
          margin-right: 1rem;
        }
      }
    }
  }
}
