.header {
  padding: 2rem 4rem;
  display: flex;
  justify-content: end;
  overflow: hidden;

  &__menu {
    display: flex;
    align-items: center;
    gap: 2rem;

    img {
      width: 24px;
    }
  }
}

@media screen and (max-width: 768px) {

  .header {
    padding: 2rem 1rem;

    &__menu {
      gap: 1rem;
    }
  }
}